/*Fonts*/
/*raleway*/
/*Universals*/
* {
  transition-duration: 0.2s;
}
.min-height {
  min-height: 600px;
}
.primary-font {
  font-family: 'Lobster', serif;
}
.secondary-font {
  font-family: 'Raleway', Sans-Serif;
}
.white-text {
  color: #FFFFFF;
}
.orange-text {
  color: #F8512F;
}
.thin-text {
  font-weight: 300;
}
.thick-text {
  font-weight: 700;
}
.orange-bg {
  background-color: #F8512F;
}
.story-text {
  font-family: lobster;
  font-size: 100px;
  color: #F8512F;
  text-shadow: 2px 2px 5px #000;
}


/*Navbar Styles*/

.navbar-inverse {
  background-color: transparent;
  border: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
  background-color: rgba(0, 0, 0, 0.75);
  text-shadow: 2px 2px 2px #000;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: #F8512F;
}

/*Carousel*/

.item {
  height: 550px;
  background-size: cover;
  background-position: center;
}
#wood-bg {
  background-image: url('../img/wood-2.jpg');
}
#carousel-logo {
  height: 200px;
}
.flex-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
#seating-bg {
  background-image: url('../img/restaurant-2.jpg');
}
.btn-warning {
  background-color: #F8512F;
  border: none;
}
.btn-warning:hover {
  background-color: #D34326;
}
.carousel-caption {
  padding-bottom: 10em;
}
#farm-bg {
  background-image: url('../img/farm-2.jpg');
}

/*Story Section*/

.year-text {
  position: absolute;
  z-index: 0;
  color: rgba(0, 0, 0, 0.1);
  font-size: 200px;
  font-family: 'Playfair Display', serif;
}
.h3, h3 {
  font-size: 36px;
}
.story-padding {
  padding-top: 150px;
  padding-bottom: 150px;
}
.story-text, h3 {
  font-weight: bold;
}

/*Fresno Bee Section*/

.vegetables {
  background-image: url('../img/food_review.jpg');
  height: 400px;
  background-attachment: fixed;
  background-size: cover;
  padding-top: 50px;
}
#vege-paragraph {
  font-size: 36px;
  text-shadow: 1px 1px 5px #000;
}
.vege-bg {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

/*Menu Section Starts*/

#menu {
  background-image: url('../img/black_linen.png');
}
#menu h1 {
  font-size: 5em;
}
.food-item {
  background-color: #fff;
  padding: 8px 6px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover, #menu .nav-tabs>li>a {
  color: #F8512F;
  font-weight: bold;
}
#menu .nav-tabs>li>a:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: transparent;
}
